html{background-color: #fec47f;}

p{ color:#CC7722;
	font-family: "Merriweather", Helvetica, Arial, sans-serif; 
	font-size: 1em;
  
}
h1 {
    font-family: "Limelight", Georgia, Times New Roman, serif;
    display:block;
    background-color: #CC7722;
}


img{
  width:100%;
  height: 800px;
  float:right;
  margin-right:2px;
}


@media(min-width:700px){
.navigation{
  flex-flow: row wrap;
  justify-content: flex-end;

}
.me{
  display:flex-end;
  flex-flow:row;
  background-color: lightskyblue;
}

#welcome {
    color:#f8f0e3;
    text-align: center;
    padding:0;
    width: 50%;
    margin: 0 auto;
}


#nav {
    padding: 0;
	list-style-type: none;
    text-align: center;
}

#nav li {
   
	border-bottom: 1px solid #ccc;
	text-decoration: none;
    list-style-type: none;
    text-align: center;
}

#nav a:link, a:visited {
	display:block;
    color: #f8f0e3;
    background-color: #CC7722;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: indianred;
}


.joke{

	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}