html{background-color: #fec47f;}

p{ color:#CC7722;
	font-family: "Merriweather", Helvetica, Arial, sans-serif; 
	font-size: 1em;
  
}
h1 {
    font-family: "Limelight", Georgia, Times New Roman, serif;
    display:block;
    background-color: #CC7722;
}

body{
    text-align: center;
}

img{
  width: 50%;
  height:;
  display: block;
  margin-right:2px;
  float: right;
}

.me{ 
    display: flex;
    background-color: skyblue;
    flex-flow: row wrap;
    text-align: left;

}
#welcome {
    color:#f8f0e3;
    text-align: center;
    padding:0;
    width: 50%;
    margin: 0 auto;
}


.nav {
    padding: 0;
	list-style-type: none;
    text-align: center;
}

.nav li {
   
	border-bottom: 1px solid #ccc;
	text-decoration: none;
    list-style-type: none;
    text-align: center;
}

.nav a:link, a:visited {
	display:block;
    color: #f8f0e3;
    background-color: #CC7722;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

.nav a:hover, a:active {
    background-color: indianred;
}

.joke{

	font-weight: bold;
	font-style: italic;
	font-size: 1.5em;
}



@media (min-width: 800px){
    img{
  width:50%;
  height:200px;
  margin-right:10px;
}

.nav{
    width:50%;
    display:flex;
    justify-content: center;
}


}